@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
/* Navbar Styles*/

.navbar-header {
  display: flex;
}
.navbar-btn-menu {
  background: #6cd817;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  /* width: 40%; */
  margin: 5px 20px 0 0;

  margin-top: 5px;
  border-radius: 5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 10px;
}
/* .navbar-btn {
  display: none;
  background: #6cd817;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #2c4e12;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 10px;
} */
.navbar-menu {
  background: #6cd817;
}
.heading-para {
  transform: translateY(10px);
  font-size: 14px;
  width: max-content;
  align-self: flex-end;
  font-family: Inter, sans-serif;
}
.navbar-nav .nav-link {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
}
/* Media query for tablets and smaller screens */
@media (max-width: 991.98px) {
  .heading-para {
    display: none;
  }
  .navbar-header {
    flex-direction: column;
  }
  .navbar-btn-menu {
    margin: 5px 10px 0 0;
  }
  .navbar-btn {
    margin: 5px 10px 0 0;
    display: none;
  }
  .nav-links-a {
    color: black; /* Adjust color for better visibility */
  }
}

/* Media query for devices between 1000px and 1100px */
@media (min-width: 760px) and (max-width: 996px) {
  .navbar-btn {
    display: block;
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  /* Add specific styles for larger screens */
}

/* Navbar Styles Ends*/

/* order Section Styles */

.order-section-image img {
  height: 100%;
}

.order-section-heading {
  font-family: Inter;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
}
.order-section-heading-para {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #322c50;
}

.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
  background: #4a26a9;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
.points p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #322c50;
  width: 100%;
}
/* order Section Styles */

/* Checkout Secction Styles  */
.checkout-wrapper {
  width: 100%;
  height: 100%;
  background: #3e28a9;
  background-image: url('./../assets/Background-img-1.png');
  background-size: cover; /* or background-size: 100%; */
}
.rounded-card {
  border-radius: 15px;
}
.checkout-heading {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0em;
}

.cards label {
  font-family: Inter;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.checkout-methods {
  padding: 1rem 2rem;

  border-radius: 12px;
  border: 2px solid #e3e8ef;
}
.cards input {
  padding: 1rem 1.5rem;
}
.cards a {
  color: #26ce37;
  font-family: Inter;
  font-weight: 500;
}
.cards span img {
  margin-right: 10px;
}

.checkout-methods label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.payment-label label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.checkout-methods img {
  transform: translateX(5px);
}
/* Add padding to the left side of the input field */
.cards input.form-control {
  padding-left: 40px; /* Adjust this value as needed */
}

.ticket-img {
  margin-top: 4px;
  margin-right: 20px;
}
.apply-link {
  margin-top: 4px;
}
.main-follower {
  border-radius: 12px;
  background: #eeeaff;
}
.main-follower h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card {
  border-radius: 15px;
}
.edit-link {
  color: #26ce37;
  font-weight: 600;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.main-follower p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.005em;
  color: #766092;
}
.main-follower p a {
  color: #26ce37;
  font-weight: 600;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.main-subscription {
  background: #6343ff;
}
.cards-rounded {
  border-radius: 18px;
}
.subscription {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscription p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
}
.subscription button {
  background: #26ce37;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  border-radius: 8px;
  outline: none;
  border: none;
}
.total-amount span {
  color: #677489;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.005em;
}
.total-amount p {
  color: #111729;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.checkout-button button {
  padding: 1.25rem 12rem;
  color: #5b5b5b;
  background: #cccccc;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  border: none;
  outline: none;
  border-radius: 16px;
}
.checkout-button button:hover {
  background-color: #26ce37;
  color: #fff;
}
.important-note span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
/* Checkout Secction Styles  */

/* Footer Starts */
.main-footer-section {
  background: #f2f3f8;
  width: 100%;
}
.footer-links {
  margin-left: 30px;
}
.footer-links h4 {
  color: #292929 !important;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0em;
}
.footer-links ul li {
  width: 190px;
  color: #707070;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0em;
}
.footer-logo {
  width: 350px;
}
.footer-logo p {
  color: #707070;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0em;
}
.footer-logo .cards {
  width: 322px;
  height: 51.74px;
}

/* Footer Ends */

/* Media Queries */

/* Media query for mobile devices */
@media (max-width: 767.98px) {
  /* Navbar styles */
  .navbar-header {
    flex-direction: column;
    align-items: center;
  }
  .navbar-toggler {
    margin-left: auto;
  }
  .navbar-collapse {
    margin-top: 20px;
    text-align: center;
  }
  .nav-link {
    padding: 10px 0;
  }
  .navbar-btn-menu {
    margin: 20px auto;
  }

  /* Checkout section styles */
  .checkout-wrapper {
    padding: 20px;
  }
  .rounded-card {
    margin-bottom: 20px;
  }
  .checkout-heading {
    font-size: 24px;
  }
  .checkout-methods {
    padding: 5px;
  }
  .checkout-methods label {
    font-size: 10px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  /* Navbar Styles*/

  .navbar-header {
    display: flex;
  }
  .navbar-btn-menu {
    background: #6cd817;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 20px;
    /* width: 40%; */
    margin: 5px 20px 0 0;

    margin-top: 5px;
    border-radius: 5px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left: 10px;
  }
  /* .navbar-btn {
  display: none;
  background: #6cd817;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #2c4e12;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 10px;
} */
  .navbar-menu {
    background: #6cd817;
  }
  .heading-para {
    transform: translateY(10px);
    font-size: 14px;
    width: max-content;
    align-self: flex-end;
    font-family: Inter, sans-serif;
  }
  .navbar-nav .nav-link {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: black;
  }
  /* Media query for tablets and smaller screens */
  @media (max-width: 991.98px) {
    .heading-para {
      display: none;
    }
    .navbar-header {
      flex-direction: column;
    }
    .navbar-btn-menu {
      margin: 5px 10px 0 0;
    }
    .navbar-btn {
      margin: 5px 10px 0 0;
      display: none;
    }
    .nav-links-a {
      color: black; /* Adjust color for better visibility */
    }
  }

  /* Media query for devices between 1000px and 1100px */
  @media (min-width: 760px) and (max-width: 996px) {
    .navbar-btn {
      display: block;
    }
  }

  /* Media query for larger screens */
  @media (min-width: 1200px) {
    /* Add specific styles for larger screens */
  }

  /* Navbar Styles Ends*/

  /* order Section Styles */

  .order-section-image img {
    height: 100%;
  }

  .order-section-heading {
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0em;
  }
  .order-section-heading-para {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #322c50;
  }

  .ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
    background: #4a26a9;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 500;
  }
  .points p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #322c50;
    width: 100%;
  }
  /* order Section Styles */

  /* Checkout Secction Styles  */
  .checkout-wrapper {
    width: 100%;
    height: 100%;
    background: #3e28a9;
    background-image: url('./../assets/Background-img-1.png');
    background-size: cover; /* or background-size: 100%; */
  }
  .rounded-card {
    border-radius: 15px;
  }
  .checkout-heading {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
  }

  .cards label {
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .checkout-methods {
    padding: 1rem 2rem;

    border-radius: 12px;
    border: 2px solid #e3e8ef;
  }
  .cards input {
    padding: 1rem 1.5rem;
  }
  .cards a {
    color: #26ce37;
    font-family: Inter;
    font-weight: 500;
  }
  .cards span img {
    margin-right: 10px;
  }

  .checkout-methods label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
  }
  .payment-label label {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .checkout-methods img {
    transform: translateX(5px);
  }
  /* Add padding to the left side of the input field */
  .cards input.form-control {
    padding-left: 40px; /* Adjust this value as needed */
  }

  .ticket-img {
    margin-top: 4px;
    margin-right: 20px;
  }
  .apply-link {
    margin-top: 4px;
  }
  .main-follower {
    border-radius: 12px;
    background: #eeeaff;
  }
  .main-follower h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
  .card {
    border-radius: 15px;
  }
  .edit-link {
    color: #26ce37;
    font-weight: 600;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.005em;
  }
  .main-follower p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.005em;
    color: #766092;
  }
  .main-follower p a {
    color: #26ce37;
    font-weight: 600;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.005em;
  }
  .main-subscription {
    background: #6343ff;
  }
  .cards-rounded {
    border-radius: 18px;
  }
  .subscription {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscription p {
    font-family: Inter;
    font-size: 12 px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
  }
  .subscription button {
    background: #26ce37;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    border-radius: 8px;
    outline: none;
    border: none;
  }
  .total-amount span {
    color: #677489;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.005em;
  }
  .total-amount p {
    color: #111729;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.005em;
  }
  .checkout-button button {
    padding: 1.25rem 12rem;
    color: #5b5b5b;
    background: #cccccc;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    border: none;
    outline: none;
    border-radius: 16px;
  }
  .checkout-button button:hover {
    background-color: #26ce37;
    color: #fff;
  }
  .important-note span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
  }
  /* Checkout Secction Styles  */

  /* Footer Starts */
  .main-footer-section {
    background: #f2f3f8;
    width: 100%;
  }
  .footer-links {
    margin-left: 30px;
  }
  .footer-links h4 {
    color: #292929 !important;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
  }
  .footer-links ul li {
    width: 190px;
    color: #707070;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  .footer-logo {
    width: 350px;
  }
  .footer-logo p {
    color: #707070;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  .footer-logo .cards {
    width: 322px;
    height: 51.74px;
  }

  /* Footer Ends */

  /* Media Queries */

  /* Media query for mobile devices */
  @media (max-width: 767.98px) {
    /* Navbar styles */
    .navbar-header {
      flex-direction: column;
      align-items: center;
    }
    .navbar-toggler {
      margin-left: auto;
    }
    .navbar-collapse {
      margin-top: 20px;
      text-align: center;
    }
    .nav-link {
      padding: 10px 0;
    }
    .navbar-btn-menu {
      margin: 20px auto;
    }

    /* Checkout section styles */
    .checkout-wrapper {
      padding: 20px;
    }
    .rounded-card {
      margin-bottom: 20px;
    }
    .checkout-heading {
      font-size: 24px;
    }
    .checkout-methods {
      padding: 5px;
    }
    .checkout-methods label {
      font-size: 10px;
    }
    .checkout-methods input {
    }
    .cards input.form-control {
      padding-left: 20px;
    }
    .checkout-button button {
      padding: 1.25rem 12rem;
    }
    .subscription button {
      font-size: 12px;
      padding: 10px 12px;
    }
    /* Order section styles */
    .order-section-image {
      margin-bottom: 20px;
    }
    .order-section-heading {
      font-size: 32px;
      text-align: center;
    }
    .order-section-heading-para {
      font-size: 14px;
    }
    .points {
      flex-direction: column;
      align-items: flex-start;
    }
    .points p {
      margin-left: 20px;
    }

    /* Footer section styles */
    .footer-links {
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }
    .footer-logo {
      width: 100%;
      text-align: center;
    }
  }

  .cards input.form-control {
    padding-left: 20px;
  }
  .checkout-button button {
    width: 100%;
    padding: 12px 24px;
  }
  .subscription p {
    font-size: 10px;
  }

  /* Order section styles */
  .order-section-image {
    margin-bottom: 20px;
  }
  .order-section-heading {
    font-size: 32px;
    text-align: center;
  }
  .order-section-heading-para {
    font-size: 14px;
  }
  .points {
    flex-direction: column;
    align-items: flex-start;
  }
  .points p {
    margin-left: 20px;
  }

  /* Footer section styles */
  .footer-links {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  .footer-logo {
    width: 100%;
    text-align: center;
  }
}
/* Media query for screens between 400px and 500px */
@media (min-width: 400px) and (max-width: 500px) {
  /* Navbar styles */
  .navbar-header {
    padding: 10px;
  }
  .navbar-toggler {
    margin-left: auto;
  }
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav .nav-link {
    padding: 5px 0;
  }
  .navbar-btn-menu {
    margin: 10px auto;
  }

  /* Checkout section styles */
  .checkout-wrapper {
    padding: 10px;
  }
  .checkout-heading {
    font-size: 24px;
  }
  .checkout-methods {
    padding: 5px;
  }
  .cards input.form-control {
    padding-left: 15px;
  }
  .checkout-button button {
    width: 100%;
    padding: 10px 20px;
  }
  .main-subscription img {
    width: 150px;
  }
  /* Order section styles */
  .order-section-image {
    margin-bottom: 10px;
  }
  .order-section-heading {
    font-size: 28px;
    text-align: center;
  }
  .order-section-heading-para {
    font-size: 14px;
  }
  .points p {
    margin-left: 15px;
  }

  /* Footer section styles */
  .footer-links {
    margin-top: 10px;
  }
  .footer-logo {
    text-align: center;
  }
}
